<!-- Component structure is added as html in Angular -->

<div class="container">
  <div class="ui card">
    <h1>Angular Test</h1>
    <ul class="list">
      <!-- Structural directive that maps members into list -->
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <!-- Attribute directive that links newMember to the input value -->
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMember"
      />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input type="text" placeholder="# of groups" />
      <button>Generate</button>
    </div>
    <!-- Structural directive that adds or remove <p> depending on errorMessage-->
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
</div>
